<<<<<<< HEAD
body 
{
   background-image: radial-gradient(circle, #012f40, #001c26);
    background-size: 100%;
}



/*Title Stuff*/
#TitleDiv
{
  text-align: center;
  color: rgb(200, 200, 200);  
  font-size: 100px;

  padding-top: 10px;
  padding-bottom: 10px;

  font-family: Arial, Helvetica, sans-serif;

  text-shadow: rgb(28, 160, 186) 0px 0 15px;
}




/*Top Navigation Menu*/
.menu {
  list-style-type: none;
  margin: auto;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #fff;
  width: 70%;
}

.menu li {
  float: left;
  padding: 0 45px;
}

.menu li a {
  display: block;
  color: rgb(200, 200, 200);
  font-size: 30px;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: rgb(10, 30, 40);
}




/*Project Button Grid*/
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
}

.button-grid button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-grid button:hover {
  scale: 105%;
}

.button-grid button img {
  max-width: 101.3%;
  border-radius: 5px;
}




/* Modal Styles */

#ModalTitle
{
  font-size: 40px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.modal  
{
  display: none; /* Hide the modal by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  left: 0;
  margin: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  backdrop-filter: blur(5px);
}

.modal-content
{
  font-size: 108px;
  margin: 20px auto;
  background-color: rgba(240, 240, 240, .80);
  width: 60%;
  height: 95%;
  border-radius: 5px;
  overflow: auto;
}

=======
body 
{
   background-image: radial-gradient(circle, #012f40, #001c26);
    background-size: 100%;
}



/*Title Stuff*/
#TitleDiv
{
  text-align: center;
  color: rgb(200, 200, 200);  
  font-size: 100px;

  padding-top: 10px;
  padding-bottom: 10px;

  font-family: Arial, Helvetica, sans-serif;

  text-shadow: rgb(28, 160, 186) 0px 0 15px;
}




/*Top Navigation Menu*/
.menu {
  list-style-type: none;
  margin: auto;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #fff;
  width: 70%;
}

.menu li {
  float: left;
  padding: 0 45px;
}

.menu li a {
  display: block;
  color: rgb(200, 200, 200);
  font-size: 30px;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: rgb(10, 30, 40);
}




/*Project Button Grid*/
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
}

.button-grid button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-grid button:hover {
  scale: 105%;
}

.button-grid button img {
  max-width: 101.3%;
  border-radius: 5px;
}




/* Modal Styles */

#ModalTitle
{
  font-size: 40px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.modal  
{
  display: none; /* Hide the modal by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  left: 0;
  margin: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  backdrop-filter: blur(5px);
}

.modal-content
{
  font-size: 108px;
  margin: 20px auto;
  background-color: rgba(240, 240, 240, .80);
  width: 60%;
  height: 95%;
  border-radius: 5px;
  overflow: auto;
}

>>>>>>> ffdffbf7eab86f2cf1d6a5cc6d20a0d5336f75e9
